<div id="container" ng-app='demos_cfg' ng-controller='LiveSearchController' class="section">
  <nav>
    <div class="nav-wrapper">
      <%= form_for(:query, method: :get, html: {class: "pure-form"}) do |f| %>
        <div class="input-field">
          <%= f.search_field :name, "ng-change" =>"change(text)", "ng-model" => "search" %>
          <label for="search"><i class="mdi-action-search"></i></label>
          <i class="mdi-navigation-close"></i>
        </div>
      <% end %>
    </div>
  </nav>

  <div class="card" ng-repeat="entry in entries">
    <div class="card-content blue-grey lighten-5">
      <span>
        {{entry.portuguese_name}}
      </span>
      <span class="secondary-content">
        {{entry.price}}
      </span>
    </div>
    <div class="card-action">
      <a href="#">action</a>
      <%= form_for new_deck_path , html: {class: "valign-wrapper", "ng-submit" => "addCardToDeck($event)"} do |f| %>
        <%= f.hidden_field :card_id, value: "{{entry.id}}", "ng-model" => "card_id"  %>
        <div class="input-field col s4">
          <%= f.select :copies, 0..4, {}, class: "browser-default", "ng-model" => "copies" %>
        </div>
        <%= f.submit "add", class: "btn input-field col s3"%>
      <% end %>
    </div>
  </div>
</div>
