<% cards.each_pair do |card_type, cards| %>
  <h5><%= card_type %></h5>
  <ul class="card_entry_box">
    <% cards.each do |card| %>
      <li>
        <strong><%= card[:copies] %></strong>
        <%= link_to card[:card].name, "#", class: "card-image", data: { card_image: card[:card].image }%>
        <span><%= number_to_currency card[:card].on_demand_price %></span>

        <%= render "inventory_form", card: card[:card] %>
      </li>
    <% end %>
  </ul>
<% end %>
