<ul class="collapsible nested-collapsible" data-collapsible="accordion">
  <% cards.each do |card| %>
    <li>
      <div class="collapsible-header">
        <span class="mtg  <%= [Card::ICON_NAME[card.set.to_sym],card.rarity.downcase].join(" ") %>"></span>
        <span><%= card.name %></span>
          
        <span class="secondary-content">
        <span><%= number_to_currency card.on_demand_price %></span>
        <!-- <span class="mtg  <%= [Card::ICON_NAME[card.set.to_sym],card.rarity.downcase].join(" ") %>"></span> -->
        </span>
      </div>
      <div class="collapsible-body">
        <div class="row">
          <%= render "inventory_form", card: card %>
        </div>
        <div class="row center-align">
          <%= image_tag card.image, alt: card.name, class: "responsive-img" %>
        </div>
      </div>
    </li>
  <% end %>
</ul>
