<div class="card top-decks-box">
  <div class="card-content blue-grey lighten-5">
    <span>
      <%= link_to deck.archeptype_deck.deck do %> 
        <%= deck.archeptype_deck.name %>
      <% end %>
    </span>
  </div>
  <div class="card-action">
    <span class="col s4">
      <%= deck.archeptype_deck.colors_list.join(" ").html_safe %>
    </span>
    <span class="col s5">
      <%= deck.percent_owned(current_user, :main) %>% / <%= deck.percent_owned(current_user, :sideboard) %>%
    </span>
    <span class="col s3">
      <%= number_to_currency deck.total_price %>
    </span>
  </div>
</div>
