<span>
  <i class="icon-addshape"></i> <%= User.first.percent_from(deck.archeptype_deck.main_ids).truncate %>%
  <i class="icon-subtractshape"></i> <%= User.first.percent_from(deck.archeptype_deck.sideboard_ids).truncate %>%
</span>

<%= link_to deck.archeptype_deck, class: "pure-button" do %> 
  <%= deck.archeptype_deck.colors_list.join(" ").html_safe %>
  <%= deck.archeptype_deck.name %>
<% end %>
