<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header">
      <%= link_to deck.archeptype_deck.name, deck.archeptype_deck.deck %>

      <% if user_signed_in? %>
        (<%= deck.percent_owned(current_user, :main) %>% / <%= deck.percent_owned(current_user, :sideboard) %>%)
      <% end %>

      <span class="secondary-content">
        <%= number_to_currency deck.total_price %>
      <span>
    </div>
    <div class="collapsible-body">
      <%= render 'card_entry', cards: deck.group_by_card_type(:main) %>
    </div>
  </li>
</ul>
