<div class="card top-decks-box">
  <div class="card-content blue-grey lighten-5">
    <span>
      <%= link_to deck.archeptype_deck.deck do %>
        <%= deck.archeptype_deck.name %>
      <% end %>
    </span>
    <span class="secondary-content">
      <%= deck.archeptype_deck.colors_list.join(" ").html_safe %>
    </span>
  </div>
  <div class="card-action">
    <%= number_to_currency deck.total_price %>
    <% if user_signed_in? %>
      <span class="secondary-content">
        <i class="mdi-image-photo-library"></i>
        <%= deck.percent_owned(current_user, :main) %>% / <%= deck.percent_owned(current_user, :sideboard) %>%
      </span>
    <% end %>
  </div>
</div>
