<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header">
      <%= link_to deck.archeptype_deck.deck do %>
        <%= deck.archeptype_deck.name %>
      <% end %>
    </div>
    <div class="collapsible-body">
      <% if user_signed_in? %>
        <span class="secondary-content">
          <i class="mdi-image-photo-library"></i>
          <%= deck.percent_owned(current_user, :main) %>% / <%= deck.percent_owned(current_user, :sideboard) %>%
        </span>
      <% end %>
      <ul class="collection">
        <li class="collection-header">
          <%= number_to_currency deck.total_price %>
        </li>
      </ul>
    </div>
  </li>
</ul>
