<div class="deck-box">
  <div class="deck-main">
    <h4>Main</h4>
    <%= render 'card_entry', cards: deck.main %>
  </div>

  <div class="deck-sideboard">
    <h4>Sideboard</h4>
    <%= render 'card_entry', cards: deck.sideboard %>
  </div>

  <div class="deck-card-preview">
    <img src="#">
  </div>
</div>

<canvas id="manacost_chart"></canvas>
<canvas id="type_chart"></canvas>

<script>
  var data = {
    labels: <%= DeckStats.new(deck.for_game(:main)).by_manacost.keys.sort %>,  
    datasets: [
    { data: <%= DeckStats.new(deck.for_game(:main)).total_by_manacost.values %> }
    ]
  };
  var ctx = document.getElementById("manacost_chart").getContext("2d");
  var myNewChart = new Chart(ctx).Bar(data);

  var data2 = {
    labels: <%= raw DeckStats.new(deck.for_game(:main)).total_by_type.keys %>,  
    datasets: [
    { data: <%= DeckStats.new(deck.for_game(:main)).total_by_type.values %> }
    ]
  };
  var ctx2 = document.getElementById("type_chart").getContext("2d");
  var myNewChart2 = new Chart(ctx2).Bar(data2);
</script>

