<%= form_for(Inventory.find_or_initialize_by(user: current_user, card: card), html: {class: "col s12 valign-wrapper"}) do |f| %>
  <%= f.hidden_field :card_id %>
  <%= f.hidden_field :user_id %>
    <div class="input-field col s4">
      <%= f.select :copies, 0..4 %>
      <%= f.label :copies, "Cópias" %>
    </div>
    <div class="input-field col s5">
      <%= f.select :list, %w(game want have) %>
      <%= f.label :list, "Lista" %>
    </div>
    <%= f.submit "add", class: "btn input-field col s3"%>
<% end %>
