<%= form_for(Inventory.find_or_initialize_by(user: current_user, card: card), html: {class: "col s12"}) do |f| %>
  <%= f.hidden_field :card_id %>
  <%= f.hidden_field :user_id %>
    <div class="input-field col s4">
      <%= f.select :quantity, 0..4, {}, class: "browser-default" %>
    </div>
    <div class="input-field col s5">
      <%= f.select :list, %w(game want have), {}, class: "browser-default" %>
    </div>
    <%= f.submit "add", class: "btn input-field col s3"%>
<% end %>
