<div class="box">
  <h2>Decks</h2>

  <table class="pure-table pure-table-horizontal">
    <tr>
      <th>Name</th>
    </tr>

    <% @decks.each do |deck| %>
      <tr>
        <td><%= link_to deck.name, deck %> (<%= User.first.percent_from(deck.main_ids) %>% main / <%= User.first.percent_from(deck.sideboard_ids) %>% sideboard)</td>
      </tr>
    <% end %>
  </table>

  <%= paginate @decks %>
</div>

<div class="box">
  <h2>Top cards</h2>
  <ol>
    <% @orthanc.most_playable_cards.each do |deck_entry| %>
      <li><%= deck_entry.card.name %></li>
    <% end %>
  </ol>
</div>
