<div class="row">
  <div class="col s12 l4 section">
    <h5>Top Decks</h5>
    <% @presenter.top_decks.each do |deck| %>
      <%= render 'deck_list_link', deck: deck %>
    <% end %>
  </div>

  <div class="col s12 l4 section ">
    <h5>Top Cards</h5>
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="active collapsible-header light-blue-text text-darken-3 blue-grey lighten-5">
          <span>
            General
          </span>
        </div>
       <div class="collapsible-body">
          <%= render 'cards_list', label: "Top cards", cards: @presenter.top_cards %>
        </div>
      </li>
      <li>
        <div class="collapsible-header light-blue-text text-darken-3 blue-grey lighten-5">
          Creatures
        </div>
        <div class="collapsible-body">
          <%= render 'cards_list', label: "Top cards", cards: @presenter.top_cards(type: :c) %>
        </div>
      </li>
      <li>
        <div class="collapsible-header light-blue-text text-darken-3 blue-grey lighten-5">
          Instants
        </div>
        <div class="collapsible-body">
          <%= render 'cards_list', label: "Top cards", cards: @presenter.top_cards(type: :i) %>
        </div>
      </li>
      <li>
        <div class="collapsible-header light-blue-text text-darken-3 blue-grey lighten-5">
          Sorceries
        </div>
        <div class="collapsible-body">
          <%= render 'cards_list', label: "Top cards", cards: @presenter.top_cards(type: :s) %>
        </div>
      </li>
    </ul>
  </div>
</div>

