<div class="pure-g">
  <div class="box pure-u-lg-1-5 pure-u-1">
    <h2>Top decks</h2>
    <hr/>
    <ol class="top_decks">
      <% @orthanc.top_decks.each do |deck| %>
        <li>
          <span> <i class="icon-codeigniter"></i> <%= deck.presence_on_field %>% </span>
          <%= render 'deck_list_link', deck: deck %>
        </li>
      <% end %>
    </ol>
  </div>

  <div class="box pure-u-lg-1-5 pure-u-1">
    <h2>Top cards</h2>
    <hr/>
    <ol>
      <% @orthanc.top_cards.each do |deck_entry| %>
        <li>
        <%= deck_entry.name %> <i class=""></i>
        </li>
      <% end %>
    </ol>
  </div>

  <div class="box pure-u-lg-1-5 pure-u-1">
    <h2>Top Creatures</h2>
    <hr/>
    <ol>
      <% Orthanc.new(type: :c).top_cards.each do |deck_entry| %>
        <li>
        <%= deck_entry.name %>
        </li>
      <% end %>
    </ol>
  </div>

  <div class="box pure-u-lg-1-5 pure-u-1">
    <h2>Top Instants</h2>
    <hr/>
    <ol>
      <% Orthanc.new(type: :i).top_cards.each do |deck_entry| %>
        <li>
        <%= deck_entry.name %>
        </li>
      <% end %>
    </ol>
  </div>

  <div class="box pure-u-lg-1-5 pure-u-1">
    <h2>Top Sorceries</h2>
    <hr/>
    <ol>
      <% Orthanc.new(type: :s).top_cards.each do |deck_entry| %>
        <li>
        <%= deck_entry.name %>
        </li>
      <% end %>
    </ol>
  </div>
</div>

<div class="pure-g">
  <div class="box pure-u-lg-1-5 pure-u-1">
    <h2>Decks</h2>
    <hr/>
    <ol class="top_decks">
      <% @decks.each do |deck| %>
        <%= render 'deck_list_link', deck: deck %>
      <% end %>
    </ol>
  </div>
  <div class="pure-u-lg-1 pure-u-1">
    <%= paginate @decks %>
    </div>
  </div>
</div>

