<div class="row">
  <div class="col s12 l4 section">
    <h5>Top Decks</h5>

    <%= render partial: 'deck_list_link', collection: @presenter.top_decks, as: :deck %>
  </div>

  <div class="col s12 l4 section ">
    <h5>Top Cards</h5>
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="active collapsible-header light-blue-text text-darken-3 blue-grey lighten-5">
          <span>General</span>
          <span class="secondary-content">
            <i class="mdi-hardware-keyboard-arrow-down"></i>
          </span>
        </div>
       <div class="collapsible-body">
          <%= render 'cards_list', label: "Top cards", cards: @presenter.top_cards %>
        </div>
      </li>
      <li>
        <div class="collapsible-header light-blue-text text-darken-3 blue-grey lighten-5">
          <span>Creatures</span>
          <span class="secondary-content">
            <i class="mdi-hardware-keyboard-arrow-up"></i>
          </span>
        </div>
        <div class="collapsible-body">
          <%= render 'cards_list', label: "Top cards", cards: @presenter.top_cards(type: :c) %>
        </div>
      </li>
      <li>
        <div class="collapsible-header light-blue-text text-darken-3 blue-grey lighten-5">
          <span>Instants</span>
          <span class="secondary-content">
            <i class="mdi-hardware-keyboard-arrow-up"></i>
          </span>
        </div>
        <div class="collapsible-body">
          <%= render 'cards_list', label: "Top cards", cards: @presenter.top_cards(type: :i) %>
        </div>
      </li>
      <li>
        <div class="collapsible-header light-blue-text text-darken-3 blue-grey lighten-5">
          <span>Sorceries</span>
          <span class="secondary-content">
            <i class="mdi-hardware-keyboard-arrow-up"></i>
          </span>
        </div>
        <div class="collapsible-body">
          <%= render 'cards_list', label: "Top cards", cards: @presenter.top_cards(type: :s) %>
        </div>
      </li>
    </ul>
  </div>
</div>

