<%= form_for :search, method: :get do |f| %>
  <%= f.text_field :query %>
  <%= f.submit "procurar" %>
<% end %>

<% @decks.each do |deck| %>
  <p>
    <%= link_to deck.deck.name, deck_path(deck.deck) %>
    <span>main: <%= deck.percent_owned(current_user, :main) %>%</span>
    <span>sideboard: <%= deck.percent_owned(current_user, :sideboard) %>%</span>
  </p>
<% end %>
