<div class="section row">
  <div class="col s12">
    <div class="card">
      <div class="card-content blue-grey lighten-5">
        <span class="card-title black-text"><%= @deck.name %></span>
        <p><%= @deck.description %></p>
      </div>
      <div class="card-action">
        main: <%= @deck.percent_owned(current_user, :main) %>%
        sideboard: <%= @deck.percent_owned(current_user, :sideboard) %>%
      </div>
      <div class="card-action">
        preço: <%= number_to_currency @deck.total_price %>
      <%= link_to "print", print_deck_path %>
    </div>
  </div>
</div>
</div>

<div class="section row">
  <div class="col s12">

    <div class="col s12 l6">
    <h5>Manacost</h5>
      <canvas id="manacost_chart"></canvas>
    </div>
    <div class="col s12 l6">
    <h5>Colors</h5>
      <canvas id="color_chart"></canvas>
    </div>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <%= render 'deck_box', deck: @deck %>
  </div>
</div>

<%= link_to 'Back', decks_path %>

<script>
Chart.defaults.global.responsive = true;
var data = {
  labels: <%= @deck.by_manacost.keys.sort %>,  
  datasets: [
    { 
      label: "Manacost",
      data: <%= @deck.total_by_manacost.values %> 
    }
  ]
};
var ctx = document.getElementById("manacost_chart").getContext("2d");
var myNewChart = new Chart(ctx).Bar(data);

var data3 = {
labels: <%= raw @deck.total_by_color.keys.map(&:to_s) %>,  
        datasets: [
        { data: <%= @deck.total_by_color.values %> }
        ]
};
var x =  [
<% @deck.total_by_color.each_pair do |k,v| %>
  {value: <%= v %>, label: "<%= k.to_s %>"},
<% end %>
];
var ctx3 = document.getElementById("color_chart").getContext("2d");
var myNewChart3 = new Chart(ctx3).Pie(x);
</script>
