<h1><%= @deck.name %></h1>
<h2><%= @deck.description %></h2>

<div class="deck-box">
  <h3>Main</h3>
  <ul class="maindeck">
    <% @deck.main.each do |entry| %>
      <li>
        <%= entry[:copies] %>
        <%= entry[:card].name %>
      </li>
    <% end %>
  </ul>
  <h3>Sideboard</h3>
  <ul class="sideboard">
    <% @deck.sideboard.each do |entry| %>
      <li>
        <%= entry[:copies] %>
        <%= entry[:card].name %>
      </li>
    <% end %>
  </ul>
</div>

<%= link_to 'Back', decks_path %>
