<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Magic: The Gathering</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="description" content="a mtg manager">
    <meta name="author" content="Jean Uchôa">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://cdn.rawgit.com/jninnes/mtgicons/master/dist/mtgicons.css" />

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.0/js/materialize.min.js"></script>
    <script id="angularScript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
    <%= javascript_include_tag "Chart.min", "angular-chart", "application", "angular-sanitize" %>
    <link href='http://fonts.googleapis.com/css?family=Lato' rel='stylesheet' type='text/css'>
    <link href="/stylesheets/application.css" rel="stylesheet">
  </head>

  <body>
    <div class="navbar-fixed">
      <nav>
        <div class="nav-wrapper">
          <%= link_to "welovemtg", root_path, class: "brand-logo" %>
          <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
          <ul class="right hide-on-med-and-down">
            <%= navigation_item "Deck Builder", new_deck_path %>
            <%= navigation_item "Card Search", cards_path %>
            <%= navigation_item "Deck Search", search_decks_path %>
            <%= navigation_item "Want List", want_inventories_path %>
            <%= navigation_item "Have List", have_inventories_path %>
          </ul>
          <ul class="side-nav" id="mobile-demo">
            <%= navigation_item "Deck Builder", new_deck_path %>
            <%= navigation_item "Card Search", cards_path %>
            <%= navigation_item "Deck Search", search_decks_path %>
            <%= navigation_item "Want List", want_inventories_path %>
            <%= navigation_item "Have List", have_inventories_path %>
          </ul>
        </div>
      </nav>
    </div>

    <%= yield %>

    <%= render_ga %>
  </body>
</html>
